# Common environment variables (true/false)
DEVELOPER_MODE=true

# Development environment variables
DEV_DISCORD_TOKEN=
DEV_CLIENT_ID=
DEV_GUILD_ID=
DEV_ANNOUNCEMENT_CHANNEL_ID=

# Production environment variables
PROD_DISCORD_TOKEN=
PROD_CLIENT_ID=
PROD_GUILD_ID=
PROD_ANNOUNCEMENT_CHANNEL_ID=